// Every page should have a class on the body
// Scope that in each file at the start
.mw-home {
  .mw-hide {
    display:none;
  }
  ul.headlinesOnly {
    li {
      overflow:hidden;
    }
  }
  a.thumb {
//    padding:10px;
//    float:left;
    position: relative;
    z-index: 1;
    img {
      height:50px;
      width:50px;
    }
  }
  [data-ur-carousel-component = 'item'] {
    text-align: center;
  }
}