// We are using the class we added to the body of the homepage
// to ensure that the styling is only applied to the homepage
._home {
  ul.headlinesOnly {
    li {
      overflow:hidden;
      &.firstItem {
        > a {
          padding:10px;
          float:left;
          img {
            height:50px;
            width:50px;
          }
        }
      }
    }
  }
}