// Site-wide styles go here
@import "bourbon/_bourbon";


// Site-wide styles go here
body {
  background: $body_background;
  font: $font_size "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text_color;
  line-height: 1.3;
  position: relative;
  -webkit-text-size-adjust: none;
  margin: 0;
}

a, a:hover, a:visited {
  text-decoration: none;
}

// This CSS ensures non-wanted items are not displayed
._hide, .mw-hide {
  display:none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h6 {
  margin: 0;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.padded {
  padding: $spacing;
}
.gapped {
  margin: $spacing;
}
.mw-side-pad {
    padding: 0 $spacing;
}
img {
  max-width: 100%;
}
.mw-box1 {
  padding: $spacing;
  border: $border1;
  border-radius: 3px;
  background: #fff;
}
.mw-h3 {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  a {
    color: #333;
  }
}
.mw-h4 {
  font-size: 12px;
  font-weight: bold;
}
.mw-center {
  text-align: center;
}
// Essential CSS for the Uranium widgets to work. For more
// information, see http://uraniumjs.com

// Accordion
[data-ur-tabs-component="content"] {
  display: none;
  &[data-ur-state="enabled"] {
    display: block;
  }
}

[data-ur-toggler-component="content"] {
  display: none;
  &[data-ur-state="enabled"] {
    display: block;
  }
}

// Carousel
div[data-ur-carousel-component='view_container'] {
  width:100%;
  overflow-x: hidden;
  position: relative;
  &:not([data-ur-state]) {
    visibility: hidden;
    max-height: 185px;
  }
}
div[data-ur-carousel-component="scroll_container"] {
  display:block;
  clear:both;
  margin-left:0px;
}
div[data-ur-carousel-component="scroll_container"] > * {
  display:inline-block;
  float:left;
}
[data-ur-carousel-component="dots"] {
  text-align: center;
  float: right;
  margin: 5px 10px;
}
[data-ur-carousel-component="dot"] {
  @include border-radius(7px);
  background: black;
  display: inline-block;
  margin: 0 1px;
  opacity: 0.8;
  width: 10px;
  height: 10px;
  &[data-ur-state="inactive"] {
    opacity: 0.3;
  }
}

div[data-ur-carousel-component="button"][data-ur-state="disabled"] {
  opacity: .3;
}
div[data-ur-carousel-button-type="prev"] {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 5px;
  opacity: 0.6;
  padding: 15px;
  background: #ccc;
  border-radius: 0 5px 5px 0;
  &:after {
    content: "";
    position: absolute;
    @extend .sprites-chevron-left;
    z-index: 1;
    top: 7px;
    left: 9px;
  }
}
div[data-ur-carousel-button-type="next"] {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  right: 5px;
  opacity: 0.6;
  padding: 15px;
  background: #ccc;
  border-radius: 5px 0 0 5px;
  &:after {
    content: "";
    position: absolute;
    @extend .sprites-chevron-right;
    z-index: 1;
    top: 7px;
    right: 9px;
  }
}
div[data-ur-carousel-component="count"] {
  text-align:center;
  clear:both;
  margin-top: 7px;
  display: block;
}
.mw-box-shadow {
  @include box-shadow($box-shadow-demo-pers-nav);
}
$slider-width: 255px;
#mw-body-content{
  position: relative;
  z-index: 1;
  max-width: 100%;
  overflow: hidden;
  background: white;
  @include box-shadow($box-shadow-demo-pers-nav);
  // Fixes the flashing that occurs when the universal navigation is clicked due to the redraw
  @include transform(translate(0, 0));
  @include transition (all 0.3s ease);
  // Fixes the flashing that occurs when togglers and tabs clicked due to the redraw
  [data-ur-set = 'tabs'], [data-ur-set = 'toggler'] {
    @include transform(translate(0, 0));
  }
  &.mw-pers-nav-active {
    @include transform(translate(-$slider-width, 0));
  }
}
#mw-pers-nav-mask {
  display: none;
  &.mw-pers-nav-active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
  }
}
#mw-pers-nav{
  opacity: 0;
  top: 0;
  right: 0;
  position: absolute;
  background: white;
  width: $slider-width;
  min-height: 100%;
  position: absolute;
  &.mw-pers-nav-active {
    opacity: 1;
    @include prefixer(transition-delay, 0s);
  }
  .sprites-dude {
    display: inline-block;
    margin-right: 5px;
  }
  >:last-child {
    @include box-shadow($box-shadow-demo-pers-nav);
  }
}
.ui-loader {
  display: none;
}
$errorText:               #b94a48 !default;
$errorBackground:         #f2dede !default;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;
.errorContainer, .mw-error {
  padding: $spacing;
  color: $errorText;
  border: 1px solid $errorBorder;
  @include border-radius(5px);
  background: $errorBackground;
  position: relative;
}