// Site-wide styles go here

@import "bourbon/_bourbon";


// Site-wide styles go here
body {
  background: $body_background;
  font: $font_size "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text_color;
  line-height: 1.3;
  position: relative;
  -webkit-text-size-adjust: none;
  margin: 0;
}

a, a:hover, a:visited {
  text-decoration: none;
}

// This CSS ensures non-wanted items are not displayed
._hide {
  display:none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h6 {
  margin: 0;
}

// Essential CSS for the Uranium widgets to work. For more
// information, see http://uraniumjs.com

// Accordion
[data-ur-tabs-component="content"] {
  display: none;
  &[data-ur-state="enabled"] {
    display: block;
  }
}

[data-ur-toggler-component="content"] {
  display: none;
  &[data-ur-state="enabled"] {
    display: block;
  }
}

// Carousel
div[data-ur-carousel-component='view_container'] {
  width:100%;
  overflow-x: hidden;
}
div[data-ur-carousel-component="scroll_container"] {
  display:block;
  clear:both;
  margin-left:0px;
}
div[data-ur-carousel-component="scroll_container"] > * {
  display:inline-block;
  float:left;
}
div[data-ur-carousel-component="button"][data-ur-state="disabled"] {
  opacity: .3;
}
div[data-ur-carousel-button-type="prev"] {
  float:left;
  margin: 5px;
  opacity: 0.6;
  @extend .sprites-chevron-left;
}
div[data-ur-carousel-button-type="next"] {
  float:right;
  margin: 5px;
  opacity: 0.6;
  @extend .sprites-chevron-right;
}
div[data-ur-carousel-component="count"] {
  text-align:center;
  width: 85%;
  clear:both;
  margin-top: 7px;
  display: inline-block;
}
a[data-ur-carousel-component="item"] {
  img {
    width:320px;
    height:214px;
  }
}


