$text-shadow-white:       0 1px white;
$box-shadow-inset:        inset 0 1px 0 rgba(255,255,255,0.75), inset 0 -1px 1px rgba(255,255,255,.3);
$border-radius:           5px;

.mw-form {
  label, .mw-label {
    font-weight: bold;
    margin-top: 5px;
    text-shadow: $text-shadow-white;
    display: block;
    &.inlineLabel {
      display: inline-block;
    }
  }
  .mw-row {
    padding:0px 10px 5px 10px;
    overflow: hidden;
  }
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"],.mw-input {
  display: block;
  padding: 7px;
  border: none;
  color: #666;
  font-size: 13px;
  text-shadow: $text-shadow-white;
  font-weight: bold;
  @include appearance(none);
  @include box-shadow($box-shadow-inset);
  @include border-radius($border-radius);
  @include background(linear-gradient(top, #eee 0%, #fff 100%));
  @include transition(all, 1s, ease-in);
  border: 1px solid #333;
  &:focus {
    color: black;
    outline: none;
    @include transition(all, 1s, ease-in);
    @include background(linear-gradient(top, #fff 0%, #eee 100%));
    @include box-shadow($box-shadow-inset, 0 0 3px 2px #fff);
  }
  &::-webkit-input-placeholder {
     color: #999;
  }
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    display: none;
  }
}