$icons-url: url("http://localhost:3003/images/icons.png");

$icons-width: 71px;
$icons-height: 144px;

$icons-gray_minus-x: 0px;
$icons-gray_minus-y: 0px;
$icons-gray_minus-width: 71px;
$icons-gray_minus-height: 36px;

$icons-gray_plus-x: 0px;
$icons-gray_plus-y: -36px;
$icons-gray_plus-width: 71px;
$icons-gray_plus-height: 36px;

$icons-gray_r-x: 0px;
$icons-gray_r-y: -72px;
$icons-gray_r-width: 71px;
$icons-gray_r-height: 36px;

$icons-light_gray_r-x: 0px;
$icons-light_gray_r-y: -108px;
$icons-light_gray_r-width: 71px;
$icons-light_gray_r-height: 36px;

@mixin icons-gray_minus() {
  background: url("http://localhost:3003/images/icons.png") no-repeat 0px 0px;
  width: 71px;
  height: 36px;
}

@mixin icons-gray_plus() {
  background: url("http://localhost:3003/images/icons.png") no-repeat 0px -36px;
  width: 71px;
  height: 36px;
}

@mixin icons-gray_r() {
  background: url("http://localhost:3003/images/icons.png") no-repeat 0px -72px;
  width: 71px;
  height: 36px;
}

@mixin icons-light_gray_r() {
  background: url("http://localhost:3003/images/icons.png") no-repeat 0px -108px;
  width: 71px;
  height: 36px;
}

.icons-gray_minus {
  background: url("http://localhost:3003/images/icons.png") no-repeat 0px 0px;
  width: 71px;
  height: 36px;
}

.icons-gray_plus {
  background: url("http://localhost:3003/images/icons.png") no-repeat 0px -36px;
  width: 71px;
  height: 36px;
}

.icons-gray_r {
  background: url("http://localhost:3003/images/icons.png") no-repeat 0px -72px;
  width: 71px;
  height: 36px;
}

.icons-light_gray_r {
  background: url("http://localhost:3003/images/icons.png") no-repeat 0px -108px;
  width: 71px;
  height: 36px;
}
