.mw-header {
//  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  img {
    max-width: 100%;
    max-height: 50px;
  }
  .mw-logo {
    padding: 10px 10px 0;
  }
  #mastheadLogo {
    max-width: 75%;
  }
  #NYTLogo {
    margin: $spacing 0 0;
  }
  .mw-sub-section {
    display: inline-block;
    clear: both;
    font-size: 1.6em;
    padding: 0 10px 5px;
  }
  #date {
    padding: 0 5px;
    clear: both;
    text-align: center;
    p {
      margin: 0px;
    }
    #lastUpdate {
      color: #999;
      margin-left: 5px;
    }
    .timestamp {
      color: #a81817;
    }
  }
  #mw-pers-nav-menu {
    float: right;
  }
}