body {
  background: $body_background;
  font: $font_size "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text_color;
  line-height: 1.3;
  position: relative;
  -webkit-text-size-adjust: none;
}

a, a:hover, a:visited {
  color: $link_color;
  text-decoration: none;
}

// This CSS ensures non-wanted items are not displayed
._hide {
  display:none;
}

// Using the mixins defined in _lib.scss
._bar2 {
  @include bar2;
}
._bar3 {
  @include bar3;
}

// Essential CSS for the Uranium widgets to work. For more
// information, see http://uraniumjs.com

// Accordion
[data-ur-tabs-component="content"] {
  display: none;
  &[data-ur-state="enabled"] {
    display: block;
  }
}

[data-ur-toggler-component="content"] {
  display: none;
  &[data-ur-state="enabled"] {
    display: block;
  }
}

// Carousel

div[data-ur-carousel-component='view_container'] {
  width:100%;
  overflow-x: hidden;
}
div[data-ur-carousel-component="scroll_container"] {
  display:block;
  clear:both;
  margin-left:0px;
}
div[data-ur-carousel-component="scroll_container"] > * {
  display:inline-block;
  float:left;
}
div[data-ur-carousel-component="button"][data-ur-state="disabled"] {
  opacity: .3;
}
div[data-ur-carousel-button-type="prev"] {
  float:left;
  margin-left: 20px;
  margin-top: 10px;
}
div[data-ur-carousel-button-type="next"] {
  float:right;
  margin-top: 10px;
  margin-right: 20px;
}
div[data-ur-carousel-component="count"] {
  text-align:center;
  clear:both;
}
a[data-ur-carousel-component="item"] {
  img {
    width:320px;
    height:214px;
  }
}

// Sprites
.icons-light_gray_r {
  @include sprite_offset(light_gray_r, 100%);
}
.icons-gray_r {
  @include sprite_offset(gray_r, 100%);
}

.icons-gray_plus {
  @include sprite_offset(gray_plus, 100%);
}

.icons-gray_minus {
  @include sprite_offset(gray_minus, 100%);
}


// Test class for identifying selections
._testing {
  border: 4px solid purple !important;
  background: #555;
  overflow: hidden;
  margin: 2px 0;
}